@page "/authorized/{EncryptedData}"
@using BlazorAuthAPI.Services

@inject CustomAuthStateProvider AuthStateProvider
@inject UserState UserState
@inject CryptographyService CryptographyService

@rendermode InteractiveServer

<div>
	<AuthorizeView>
		<Authorized>
			<h1>You're authorized!</h1>
		</Authorized>
		<NotAuthorized>
			<h1>You're not authorized!</h1>
		</NotAuthorized>
	</AuthorizeView>
</div>

@code {
	[Parameter] 
    public string EncryptedData { get; set; } = string.Empty;

	protected override void OnInitialized()
	{
		var test = CryptographyService.Decrypt(EncryptedData);
	}
}
